@import "../utils/vars";

.wrapper-client {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  justify-content: space-around;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.client-icons {
  display: inline-grid;
  max-width: 100%;
  max-width: 210px;
  min-width: 70px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--quinary-color);
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-property: border, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary-color);
    --color1: var(--primary-color);
  }
}

@media screen and (min-width: #{$tablet}) {
  .wrapper-client {
    max-width: 738px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .client-icons {
    width: 226px;
  }
}

@media screen and (min-width: #{$desktop}) {
  .wrapper-client {
    max-width: 1170px;
    display: flex;
    flex-direction: row;
  }

  .client-icons {
    width: 170px;
  }
}
