@import "../utils/vars";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  max-width: 100%;
  width: 450px;
  min-height: 609px;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;

  &__form {
    display: block;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin: auto;
  }

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
    border: 1px solid #0000001a;
    border-radius: 50%;
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 12px;
    text-align: center;
    display: inline-block;
    max-width: 448px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 27px;
  }
}

@media screen and (min-width: #{$tablet}) {
}

@media screen and (min-width: #{$desktop}) {
  .modal {
    width: 528px;
    height: 581px;

    &__form {
      max-width: 448px;
    }
  }
}
